In [42]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [43]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [40]:
from unicodedata import numeric


inputs = data.iloc[:, 0:2]
outputs = data.iloc[:, 2]
print("-----------inputs-----------")
print(inputs)
print("-----------outputs-----------")
print(outputs)
print("-----------processed inputs-----------")
numeric_inputs = inputs.select_dtypes(include="number")
numeric_inputs = numeric_inputs.fillna(numeric_inputs.mean())
non_numeric_inputs = inputs.select_dtypes(exclude='number')
non_numeric_inputs = pd.get_dummies(non_numeric_inputs, dummy_na=False).astype(int)
processed_input = pd.concat([numeric_inputs, non_numeric_inputs], axis=1)
processed_input

-----------inputs-----------
   NumRooms Alley
0       NaN  Pave
1       2.0   NaN
2       4.0   NaN
3       NaN   NaN
-----------outputs-----------
0    127500
1    106000
2    178100
3    140000
Name: Price, dtype: int64
-----------processed inputs-----------

   NumRooms  Alley_Pave
0       3.0           1
1       2.0           0
2       4.0           0
3       3.0           0

In [46]:
import torch
X = torch.tensor(processed_input.to_numpy(dtype=float))
y = torch.tensor(outputs.to_numpy(dtype=float))
X, y

(tensor([[3., 1.],
         [2., 0.],
         [4., 0.],
         [3., 0.]], dtype=torch.float64),
 tensor([127500., 106000., 178100., 140000.], dtype=torch.float64))